<html>
<head>
  <script src="https://use.fontawesome.com/26af1c2a4b.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Get Shit Done</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{#link-to "home" class='nav-link'}} Home {{/link-to}}
      </li>

      <li class="nav-item">
        {{#link-to "about" class='nav-link'}} About {{/link-to}}
      </li>

      <li class="nav-item">
        {{#link-to "task" class='nav-link'}} Tasks {{/link-to}}
      </li>
    </ul>
  </div>
</nav>

<div class="container app">
  {{outlet}}
</div>
</body>
</html>
